# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Environment
.env
venv/

# OS
Thumbs.db
.DS_Store

# Temp files

# Temp/Reference files
*.png
Screenshot*
update_nb.py

# Assignment 1 notebook (reference only)
i23-2573_Assignment1_DS-C.ipynb

# Old notebook copies
Assignment_2.ipynb
Assignment 2.md
